@layer theme, base, components, utilities;
@import "tailwindcss/theme.css" layer(theme);
@import "tailwindcss/preflight.css" layer(base);
@import "tailwindcss/utilities.css" layer(utilities);

*,p,h1,h2,h3,h4,h5,h6,a,span,div,section{
    font-family: "Inter", sans-serif;
}

p{
    font-weight: 400 !important;
    font-size: 16px;
   
}

/* hero section style */
.hero-section{
    background-image: url("./assets/hero-bg.png");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    

}

.hero-mic-icon{
    background-image: url("./assets/hero-circle.png");
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}

.hero-mic-icon::after{
    content: "New";
    background: #00FF88;
    padding: 8px 16px;
    color: #1A0B2E;
    font-family:  inter, sans-serif;
    font-weight: 600;
    font-size: 18px;
    text-transform: uppercase;
    border-radius: 30px;
    position: absolute; 
    top: 30px;
    right: 20px;

}

.hero-content p{
    font-size: 16px;
    line-height: 1.8;
    font-weight: 400;
    color: #ffffffde;
}


/* footer style */

footer{
    background: url("./assets/footer-bg.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}


@media only screen and (max-width: 600px) {
    .hero-section{
    background-image: url("./assets/mobile-hero-bg.png");
    }
    .hero-mic-icon::after{
        top: 0;
        right: 0;
}
    footer{
    background: url("./assets/mobiile-footer-bg.png");
    background-position: top center;
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
p{
    font-size: 14px !important;
}
}


/* global style */
.text-capitalize{
    text-transform: capitalize;
}

.text-uppercase{
    text-transform: uppercase;
    
}
